// import all sass modules
@import 'modules/_vars';
@import 'modules/_headerNav';
@import 'modules/_home';
@import 'modules/_signUp';
@import 'modules/_footer';


// all general styling goes below: 

.hidden {
    display: none;
}

#hiddenList {
    display: none;
}

body {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}


#storeIcons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    img{
        height: 40px;
    }
}

#downloadCon{
    padding: 20px 40px 40px 40px;
}


@media screen and (min-width: 428px) {

}

@media screen and (min-width: 680px) {
    #storeIcons {
        img{
            height: 80px;
            &:hover{
                cursor: pointer;
            }
        }
    }
}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1200px) {
  
}