// import all sass modules
@import 'modules/_vars';
@import 'modules/_headerNav';
@import 'modules/_signUp';
@import 'modules/_footer';


// all general styling goes below: 

.hidden {
    display: none;
}

#hiddenList {
    display: none;
}

body {
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
    //height: 1953px;

}

#navContainer {
    background-color: $darkblue;
    height: 120px;  
}

#navIcon {
    width: 30px;
    margin-top: 45px;
    margin-left: 22px;
    float: left;  
    
}

#logo, #logo2{
    width: 169.4px;
    margin-top: 41.6px;
    margin-left: 21.3px;
    
    
}

nav {

    background-color: $darkblue;
    width: 200px;
    height: 286px;
    // padding 0
    // margin-right: 200px;
    // margin: 0 auto;
    position: absolute;
    ul {
        margin: 0 auto;
        list-style: none;
            li {
                padding-top: 30px;

                a {
                    text-decoration: none;
                    font-family: objektiv-mk3, sans-serif;
                    font-weight: 500;
                    font-style: normal;
                    font-size: 16px;
                    color: white;

                    &:hover {
                        color: darkgray;
                    }
                }
            }   
    }
    
}

// main {
//     margin-bottom: 1653px;
// }

footer {
    height: 300px;
    
}

#footerSignUpContainer {
    height: 200px;
    background-color: $lightgreen;

}

#footerContainer {
    background-color: $darkblue;
    height: 61px;
    margin: 0 auto;
    padding: 0;
    padding-top: 39px;


    
    

}

#footerContainer p {
    padding: 0;
    margin: 0 auto;
    @include mk3Normal;
    color: white;

}

#footerSignUpContainer p {
    margin-top: 23px;
    @include mk3Normal;
    color: white;
    margin-left: 24px;
}

#footerSignUpContainer h2 {
    font-family: hwt-artz, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: $darkblue;
    padding-top: 23px;

}

#iconArrow {
    width: 22px;
    float: left;
    margin-left: 86px;
    margin-right: 13px;

}

.buttonSignUp {
    border-radius: 5px;
    background-color: $darkblue;
    width: 204px;
    height: 28px;
    border: none;
    @include mk3Normal;
    color: white;
    margin: 0 auto;
    display: block;
    margin-top: 25px;
    padding-top: 8px;

    &:hover {
        filter: saturate(45%);
    }

}

#footerSignUpContainer a {
    text-decoration: none;
    text-align: center;
}

.hiddenNavLogo {
    display: none;
}


.navMobile {
    display: none;
}




@media screen and (min-width: 428px) {

    #footerSignUpContainer h2 {
        text-align: left;
        margin-left: 35px;
    
    }

    #footerSignUpContainer p {
        text-align: left;
        margin-left: 35px;
        width: 343px;

    }

    .buttonSignUp {
        margin-left: 35px;
    }

    #navIcon {
        margin-left: 40px;
    }


    #logo, #logo2{
        margin-left: 59.3px;
        
        
    }

    #iconArrow {
        margin-left: 140px;
        margin-right: 12px;
    
    }

}


@media screen and (min-width: 680px) {

    #footerSignUpContainer h2 {
        margin-left: 45px;
    
    }

    #footerSignUpContainer p {
        margin-left: 45px;
    }

    .buttonSignUp {
        margin-left: 45px;
    }

    #navIcon {
        margin-left: 45px;
    }


    #logo, #logo2{
        margin-left: 180px;
        
        
    }

    #iconArrow {
        margin-left: 266px;
        margin-right: 14px;
    
    }

    // main {
    //     height: 1325px;
    // }

    // body {
    //     height: 1625px;
    // }

}

@media screen and (min-width: 1024px) {

    // body {
    //     height: 1083px;
    // }

    // main {
    //     height: 1283;
    // }
    #navContainer {
        display: none;
    }

    .hiddenNavLogo {
        display: block;
    }

    .navMobile {
        display: block;
    }
    

    #footerSignUpContainer h2 {
        margin-left: 165px;
    
    }

    #footerSignUpContainer p {
        margin-left: 165px;
    }

    .buttonSignUp {
        margin-left: 165px;
    }

    #footerContainer {
        display: none;
    }

    footer {
        height: auto;
    }

    #navIcon {
        display: none;
    }


    #logo, #logo2{
        margin-left: 95.8px;
        float: left;   
        
    }

    #hiddenList {
        display: inline;
    }

    nav {
        margin: 0 auto;
        width: 100%;
        position: relative;
        height: 120px;  

        ul {
            padding-top: 48px;
            text-align: right;
                li {
                    padding-top: 30px;
                    display: inline;
                    a {
                        padding-right: 30px;
                    }
                }   
        }
        
    }


    

}


@media screen and (min-width: 1200px) {

  
}