h2 {
  font-family: hwt-artz, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  letter-spacing: 2px;
  color: #2B3D54;
  margin-top: 20px;
}

h3 {
  font-family: hwt-artz, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  letter-spacing: 1.5px;
  color: #60A65F;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-family: objektiv-mk3, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: #3f3f3f;
  letter-spacing: .5px;
  line-height: 20px;
  margin-top: 20px;
}

#navContainer {
  background-color: #2B3D54;
  padding: 0px 40px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#navIcon {
  width: 30px;
  margin-top: 45px;
  margin-left: 42px;
  float: left;
}

#logo, #logo2 {
  width: 200px;
  margin-top: 40px;
  margin-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav {
  background-color: #2B3D54;
  width: 200px;
  height: 185px;
  position: absolute;
}

nav ul {
  margin: 0 auto;
  list-style: none;
}

nav ul li {
  padding-top: 30px;
}

nav ul li a {
  text-decoration: none;
  font-family: objektiv-mk3, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  color: white;
}

nav ul li a:hover {
  color: #60A65F;
}

.hiddenNavLogo {
  display: none;
}

.navMobile {
  display: none;
}

@media screen and (min-width: 428px) {
  #navIcon {
    margin-left: 40px;
  }
  #logo, #logo2 {
    margin-left: 20vw;
  }
}

@media screen and (min-width: 680px) {
  #navIcon {
    margin-left: 45px;
  }
  #logo, #logo2 {
    margin-left: 30vw;
  }
}

@media screen and (min-width: 1024px) {
  #navContainer {
    display: none;
  }
  .hiddenNavLogo {
    display: block;
  }
  .navMobile {
    display: block;
  }
  #navIcon {
    display: none;
  }
  #logo, #logo2 {
    margin-left: 95.8px;
    float: left;
  }
  #hiddenList {
    display: inline;
  }
  nav {
    margin: 0 auto;
    width: 100%;
    position: relative;
    height: 120px;
  }
  nav ul {
    padding-top: 48px;
    text-align: right;
  }
  nav ul li {
    padding-top: 30px;
    display: inline;
  }
  nav ul li a {
    padding-right: 30px;
  }
}

#benefits {
  padding-left: 40px;
  padding-right: 40px;
}

#benefitsCon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefit {
  padding: 0px 20px 20px 0px;
}

.benefit img {
  width: 70%;
}

#landingCon {
  padding: 20px 40px 20px 40px;
}

#bars {
  float: right;
}

@media screen and (min-width: 960px) {
  #benefitsCon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .benefit {
    width: 30%;
  }
  .benefit img {
    width: 80%;
  }
}

#footerSignUpContainer {
  padding: 20px 0px 20px 0px;
  background-color: #60A65F;
}

#footerContainer {
  background-color: #2B3D54;
  height: 61px;
  margin: 0 auto;
  padding: 0;
  padding-top: 40px;
}

#iconArrow {
  width: 22px;
  float: left;
  margin-left: 86px;
  margin-right: 13px;
}

#footerContainer p {
  padding: 0;
  margin: 0 auto;
  font-family: objektiv-mk3, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: white;
}

#footerSignUpContainer p {
  margin-top: 23px;
  font-family: objektiv-mk3, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: white;
  margin-left: 40px;
  margin-right: 40px;
}

#footerSignUpContainer h2 {
  margin-left: 40px;
  margin-right: 40px;
  font-family: hwt-artz, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #2B3D54;
}

.buttonSignUp {
  border-radius: 5px;
  background-color: #2B3D54;
  width: 200px;
  border: none;
  font-family: objektiv-mk3, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  color: white;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.buttonSignUp:hover {
  -webkit-filter: saturate(45%);
          filter: saturate(45%);
}

#footerSignUpContainer a {
  text-decoration: none;
  text-align: center;
}

#footerCon {
  background: #2B3D54;
  padding: 20px 40px 20px 40px;
}

#socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#socialIcons img {
  width: 50px;
}

@media screen and (min-width: 428px) {
  #footerSignUpContainer h2 {
    text-align: left;
    margin-left: 35px;
  }
  #footerSignUpContainer p {
    text-align: left;
    margin-left: 35px;
  }
  .buttonSignUp {
    margin-left: 35px;
  }
  #iconArrow {
    margin-left: 140px;
    margin-right: 12px;
  }
}

@media screen and (min-width: 680px) {
  #footerSignUpContainer h2 {
    margin-left: 45px;
  }
  #footerSignUpContainer p {
    margin-left: 45px;
  }
  .buttonSignUp {
    margin-left: 45px;
  }
  #iconArrow {
    margin-left: 266px;
    margin-right: 14px;
  }
}

@media screen and (min-width: 1024px) {
  #footerSignUpContainer h2 {
    margin-left: 165px;
  }
  #footerSignUpContainer p {
    margin-left: 165px;
  }
  .buttonSignUp {
    margin-left: 165px;
  }
  #footerContainer {
    display: none;
  }
  footer {
    height: auto;
  }
}

.hidden {
  display: none;
}

#hiddenList {
  display: none;
}

body {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

#storeIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
}

#storeIcons img {
  height: 40px;
}

#downloadCon {
  padding: 20px 40px 40px 40px;
}

@media screen and (min-width: 680px) {
  #storeIcons img {
    height: 80px;
  }
  #storeIcons img:hover {
    cursor: pointer;
  }
}
/*# sourceMappingURL=main.css.map */