// import all sass modules
@import 'modules/_vars';
@import 'modules/_headerNav';
@import 'modules/_home';
@import 'modules/_signUp';
@import 'modules/_footer';


// all general styling goes below: 

.hidden {
    display: none;
}

#hiddenList {
    display: none;
}

body {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}


@media screen and (min-width: 428px) {

}

@media screen and (min-width: 680px) {

}

@media screen and (min-width: 1024px) {

}

@media screen and (min-width: 1200px) {
  
}